* {
    max-width: 100%;
    
}
.container {
    margin: auto;
    width: 100%;
    height: 100vh;
   
    
}
.body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-position: right top;
    z-index: -1;
}



.hero {
    min-width: 20%;
    width: 500px;
    position: absolute;
    left: 10%;
    top: 20%;
    
    
}

.hero header {
    font-size: 90px;
    
    padding-bottom: 0px;
}

.hero .desc {
    font-size: 20px;
}

.hero h3, button {
    padding: 10px 0px 10px 0px;
}

button {
    background-color: #2248e2;
    color: white;
    font-weight: bold;
    padding:  15px 20px 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stores img {
    width: 130px;
    height: auto;
    padding: 5px;
    cursor: pointer;
}

.stores {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    top: 540px;
    
}

.meet {
    display: flex;
    position: absolute;
    top: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 70px 0px 20px 0px;
    gap: 100px;
    
}


.meet .protoapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.protoapp h2 {
    width: 35;
    font-size: 15px;
}

.protoapp header {
    font-size: 45px;
    font-weight: bolder;
}

.discover img {
    height: 350px;
}

.discover {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 35px;
    
}

.divT h3, h1 {
    
    text-align: right;  
}

.divT{
    width: 450px;
    transform: translateY(0%);
}

.aug {
    display: flex;
    justify-content: center;
    padding: 0px;
}


.divA h3, h1{ 
    text-align: left;
}

.divA h1 {
    text-align: left;
}

.divA{
    width: 450px;

}

.aug img {
    height: 200px;
}


.end {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 15px;
}


.divE h3, h1 { 
    text-align: right;
}

.divE{
    width: 450px;
    transform: translateY(0%);
}

.end img {
    height: 200px;
}

.leavesones {
    background-image: url('../assets/bg-decals.svg');
}



.colored {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 900px;
    height: 100%;
    margin-top: 150px;
    
    
    
}

.deep {
    width: 100vw;
    height: 600px;
    background-color: #2248E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    background-image: url('../assets/bg-decals2.svg');
    background-repeat: no-repeat;
    background-position: right top;
    

}

.text {
    margin: auto;
}
.deep .text {
    justify-content: center;
    
    margin: auto;
}

.deep header {
    font-size: 50px;
    font-weight: bold;
}

.deep h3 {
    font-weight: 100;
}

.deep .head, .three {
    color: #fff;
    text-align: center;
}

.storess {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0px;

}

.storess img {
    width: 200px;
    height: auto;
    cursor: pointer;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 2700px;
    z-index: 2;
    height: 80vh;
}

    .textt header {
        font-size: 50px;
        font-weight: bold;
    }

    .textt h3 {
        text-align: center;
        font-weight: normal;
    }

    .textt {
        margin-bottom: 50px;
    }



.card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../assets/bg-decals3.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    
}

.card .laravel, .card .glasses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    height: 45%;
    background-color: #ffc107;
    border-radius: 20px;
    color: white;
    width: 35%;
    justify-content: center;
}

.card .laravel h3, .card .glasses h3 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 25px;
}

.card .laravel header, .card .glasses header {
    font-weight: bold;
    font-size: 25px;
}


.card .laravel h2, .card .glasses h2 {
    font-weight: normal;
    font-size: 16px;
    
}

.laravel .descr,.glasses .descrD {

    padding-right: 10px;   
}

.laravel .play, .glasss .glass {
    max-width: 100%;
    width: 60%;
}

.larvel, .glasss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.laravel .auto, .glasses .autoG {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    padding: 5px 7px 5px 7px; 
}


.card .glasses {
    background-color: #17a2b8;
}




@media (max-width: 640px) {
    * {
       
        max-width: 100%;
        box-sizing: border-box;
    }
    
    .container{
     width: 100vw;
     height: 100vh;
    
    }
    
    .body {
      height: auto;
      right: 0%;
    }

    .hero {
        width: 100vw;
    }

    .hero header {
        font-size: 50px;
    }

    .hero .desc {
        text-align: left;
        font-size: 15px;
        max-width: 330px;
    }

    
    button {
        background-color: #2248e2;
        color: white;
        font-weight: bold;
        padding:  12px 15px 12px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
    }

    .stores {
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 500px;
    }


    .meet {
        width: 100%;
        margin: 75px 0px 50px 0px;
    }
    .protoapp {
        width: 100%;
        height: 200px;
    }

    .protoapp h2{
        width: 100%;
        font-size: 15px;
    }

    .protoapp header {
        font-size: 30px;
    }


        
    .discover img {
        height: 200px;
        margin-right: 10px;
        
    }

    .discover {
        display: flex;
        width: 100%;
        margin-top: 0px;
        
    }

    .divT h3, h1 {
        text-align: right;  
        width: 100%;
    }

    .divT h3 {
        font-size: 11px;

    }

    .divT{
        width: 450px;
        transform: translateY(0%);
    }

    .another {
        position: absolute;
        left: 0px;
        top: 400px;
        height: 150px;
        z-index: -1;
        
    }

    .aug img {
        height: 200px;
        width: 100%;

    }

    .aug {
        display: flex;
        width: 100%;
        margin-right: 10px;
  
    }

    .divA h3, h1 {
        text-align: left;  
        width: 100%;
        margin-right: 12px;
    }

    .divA h3 {
        font-size: 11px;
    }

    .divA{
        width: 450px;
        transform: translateY(0%);
    }

    .end img {
        height: 150px;
        width: 100%;
    }

    .end {
        display: flex;
        width: 100%;

    }

    .divE h3, h1 {
        text-align: right;  
        width: 100%;
    }

    .divE h1, .divA h1, .divT h1 {
        font-size: 26px;
    }

    .divE h3 {
        font-size: 11px;
        

    }

    .divE{
        width: 450px;
        transform: translateY(0%);
    }

    .leavesone img{
        position: absolute;
        top: 40px;
        width: 700px;
        z-index: -1;
    }

        
    .colored {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 900px;
        height: 100%;
        margin-top: 150px;
        max-width: 100vw;

    }

    .deep {
        height: 600px;
        background-color: #2248E2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        width: 100vw;

    }

    .text {
        margin: auto;
    }
    .deep .text {
        justify-content: center;
        margin: auto;
    }

    .deep header {
        font-size: 20px;
        font-weight: bold;
    }

    .deep h3 {
        font-weight: 100;
        font-size: 15px;
    }

    .deep .head, .three {
        color: #fff;
        text-align: center;
    }

    .storess {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 0px;

    }

    .storess img {
        width: 120px;
        height: auto;
        cursor: pointer;
        align-items: center;
        margin: auto;
        margin-top: 50px;
    }

}

@media (max-width: 840px) {
    * {
        max-width: 100%;
    }
    .card {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card .laravel, .card .glasses {
        width: 70%;
        height: 40%;
    }

        
    .card .laravel h3, .card .glasses h3 {
        font-weight: normal;
        font-size: 10px;
        margin-top: 25px;
    }

    .card .laravel header, .card .glasses header {
        font-weight: bold;
        font-size: 15px;
    }


    .card .laravel h2, .card .glasses h2 {
        font-weight: normal;
        font-size: 12px;
        
    }

    .laravel .descr,.glasses .descrD {

        padding-right: 10px;   
    }

    
    .textt header {
        font-size: 35px;
        font-weight: bold;
    }

    .textt h3 {
        font-size: 16px;
        text-align: center;
        font-weight: normal;
    }

    .textt {
        margin-bottom: 50px;
    }

}